.pics__pic_col_1 {
  width: calc(100% - 2 * 80px);
}

@media screen and (max-width: 1680px) {
  .pics__pic_col_1 {
    width: calc(100% - 2 * 60px);
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 1140px) {
  .pics__pic_col_1 {
    width: calc(100% - 2 * 40px);
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 568px) {
  .pics__pic_col_1 {
    width: calc(100% - 2 * 16px);
    padding: 16px 0 0;
  }
}