.thanks__background {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 568px) {
  .thanks__background {
    min-height: 360px;
  }
}