.header__intro {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 6;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .header__intro {
    flex-direction: column;
    align-items: flex-start;
  }
}