.thanks__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  width: 192px;
  height: 62px;
  border-radius: 30px;
  padding: 20px 40px;
  box-sizing: border-box;
  cursor: pointer;
}