.project__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 30px;
  width: 215px;
  height: 62px;
  padding: 20px 40px;
  box-sizing: border-box;
}