.popup__close {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../../../images/cross__popup.svg);
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    background-image: url(../../../images/close-popup-black.svg);
    right: auto;
  }
}