.intro {
  min-height: calc(100vh - 84px);
  max-width: 100%;
  padding-left: 19.6%;
  margin: auto;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 1930px) {
  .intro {
    max-width: 1920px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1680px) {
  .intro {
    min-height: calc(100vh - 60px);
  }
}


@media screen and (max-width: 450px) {
  .intro {
    padding-left: 16px;
    min-height: calc(100vh - 57px);
  }
}