.intro {
  min-height: calc(100vh - 84px);
  margin: auto;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #FFF;
  display: flex;
  padding-left: 20%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 1680px) {
  .intro {
    min-height: calc(100vh - 60px);
  }
}

@media screen and (min-width: 1920px) {
  .intro {
    max-width: 1920px;
    box-sizing: border-box;
  }
}