.project__title {
  font-size: 92px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  max-width: 872px;
  margin: 0;
}

@media screen and (max-width: 1680px) {
  .project__title {
    font-size: 68px;
  }
}