.project {
  gap: 60px;
  min-height: 100vh;
  margin: auto;
  font-family: 'Poppins', Arial, sans-serif;
  display: flex;
  padding-left: 19.6%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 1920px) {
  .project {
    max-width: 1920px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1680px) {
  .project {
    gap: 40px;
  }
}

@media screen and (max-width: 450px) {
  .project {
    padding-left: 16px;
  }
}
