.popup__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 32px;
  }
}

